@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.clip-left {
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

.clip-right {
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

@font-face {
  font-family: "Digital-7";
  src: url("/fonts/digital-7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .jasem {
    color: red;
    position: static;
  }

  .text-balance {
    text-wrap: balance;
  }
}
